<router-outlet></router-outlet>
<div class="row">
  <div class="col">
    <p>
      <app-speech-button button="Using_Eye_Tracking"></app-speech-button>
    </p>

    <p>
      <app-speech-button button="We_Can_Convert_Your_Gaze"></app-speech-button>
    </p>

    <p>
      <app-speech-button button="Into_Phrases_You_Can_Use_To_Communicate"></app-speech-button>
    </p>
  </div>
  <div class= "col">
    <p>
      <app-speech-button button="Here_Are_Some_Examples"></app-speech-button>
    </p>
    
    <p>
      <app-speech-button button="Good_Morning"></app-speech-button>
    </p>
    
    <p>
      <app-speech-button button="I_dont_like_seafood"></app-speech-button>
    </p>
  </div>
  <div class="col">
    <p>
      <app-speech-button button="I_would_like_a_drink_of_water_please"></app-speech-button>
    </p>
    
    <p>
      <app-speech-button button="I_would_like_to_wear_my_coat"></app-speech-button>
    </p>
    
    <p>
      <app-speech-button button="Thanks_for_visiting_with_me"></app-speech-button>
    </p>
  </div>
</div>
